.button {
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    display: inline-block;
    border-radius: 0;
    padding: 15px 20px;
    // border-radius: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    position: relative;
    background: @color-blue;
    transition: 250ms;
    &:hover {
        text-decoration: none;
        background-color: darken(@color-blue, 5%);
    }
    &:focus {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }

    &.disabled,
    &:disabled {
        opacity: .2;
    }
    &.btn-block {
        min-width: auto !important;
    }
}