<template>
  <account-container title="ข้อมูลทั่วไป">
    <farm-form
      :fruit-type-list="fruitTypes"
      :fruit-breeds-list="fruitBreeds"
      :standard-list="farmStandards"
      :province-list="provinceList"
      :district-list="filterDistricts"
      :sub-district-list="filterSubDistricts"
      :postal-code-list="filterPostalCodes"
      :upload-media-list="uploadMediaList"
      :farm-name.sync="farmData.name"
      :fruit-type-id.sync="fruitType"
      :fruit-breed-id.sync="farmData.fruitBreedId"
      :num-area.sync="farmData.numArea"
      :num-tree.sync="farmData.numTree"
      :farm-standard-id.sync="farmData.farmStandardId"
      :address.sync="farmData.address"
      :road.sync="farmData.road"
      :province-id.sync="farmData.provinceId"
      :district-id.sync="farmData.districtId"
      :postal-code-id.sync="farmData.postalCodeId"
      :sub-district-id.sync="farmData.subDistrictId"
      :phone-number.sync="farmData.phoneNumber"
      @changeFruitType="onChangeFruitType"
      @changeAddress="onChangeAddress"
      @changeFarmMedia="onChangeFarmMedia"
      @submit="submitCreateFarm"
    />
  </account-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'

import provinceList from '~/configs/address/provinces.json'
import districtList from '~/configs/address/districts.json'
import subDistrictList from '~/configs/address/subdistricts.json'
import postalCodeList from '~/configs/address/postal_codes.json'

import AccountContainer from '~/components/account/AccountContainer.vue'
import FarmForm from '~/components/account/FarmForm.vue'

const mapFirst = arr => arr[0]

export default {
  name: 'AccountFarmAddPage',
  layout: 'account',
  middleware: 'authenticated',
  components: {
    AccountContainer,
    FarmForm
  },
  data () {
    return {
      fruitType: 1,
      provinceList,
      uploadMediaList: [],
      farmData: {
        address: '',
        road: '',
        subDistrictId: 1,
        districtId: 1,
        provinceId: 1,
        postalCodeId: 1,
        country: 'Thailand' /* Fixed for dev */,
        farmStandardId: 1 /* Fixed for dev */,
        fruitBreedId: 1,
        name: '',
        numArea: '',
        numTree: '',
        phoneNumber: ''
      }
    }
  },
  computed: {
    fruitTypes: get('auction/fruitTypes'),
    farmStandards: get('auction/farmStandards'),
    createFarmResult: get('auction/createFarmResult'),
    filterDistricts () {
      return districtList.filter(value => value.provinceId === this.farmData.provinceId)
    },
    filterSubDistricts () {
      return subDistrictList.filter(value => value.districtId === this.farmData.districtId)
    },
    filterPostalCodes () {
      const districtCode = subDistrictList.find(value => value.id === this.farmData.subDistrictId).code
      return postalCodeList.filter(value => value.districtCode === districtCode)
    },
    isFruitTypeSelected () {
      return Boolean(this.fruitType)
    },
    fruitBreeds () {
      const fruitTypeCb = (fruitType1, fruitType2) => fruitType1 === fruitType2
      const findFruitType = this.fruitTypes.find(value => fruitTypeCb(value.id, this.fruitType))
      return findFruitType ? findFruitType.fruitBreeds : []
    }
  },
  async fetch ({ store }) {
    try {
      await Promise.all([
        store.dispatch('auction/fetchFruitTypes'),
        store.dispatch('auction/fetchFarmStandards')
      ])
    } catch (e) {

    }
  },
  methods: {
    ...call('auction', [
      'createFarm',
      'createUserFarmMedia'
    ]),
    ...mapWaitingActions('auction', {
      createFarm: 'base loading',
      createUserFarmMedia: 'base loading'
    }),
    onChangeFruitType (value) {
      this.fruitType = value
      this.farmData.fruitBreedId = mapFirst(this.fruitBreeds).id
    },
    onChangeAddress (type, value) {
      switch (type) {
        case 'province':
          this.farmData.provinceId = value
          this.farmData.districtId = mapFirst(this.filterDistricts).id
          this.farmData.subDistrictId = mapFirst(this.filterSubDistricts).id
          this.farmData.postalCodeId = mapFirst(this.filterPostalCodes).id
          break
        case 'district':
          this.farmData.districtId = value
          this.farmData.subDistrictId = mapFirst(this.filterSubDistricts).id
          this.farmData.postalCodeId = mapFirst(this.filterPostalCodes).id
          break
        case 'subDistrict':
          this.farmData.subDistrictId = value
          this.farmData.postalCodeId = mapFirst(this.filterPostalCodes).id
          break
        case 'postalCode':
          this.farmData.postalCodeId = value
          break
      }
    },
    onChangeFruitBreed (value) {
      this.farmData.fruitBreedId = value
    },
    onChangeFarmMedia ({ fileList }) {
      this.uploadMediaList = fileList
    },
    backToAccountFarm () {
      this.$router.push('/account/farm')
    },
    transformMediaFormData (image) {
      const formData = new FormData()
      formData.append('image', image)
      return formData
    },
    requestUploadMedia (id, mediaList) {
      return mediaList.map(
        media => Promise.resolve(
          this.createUserFarmMedia({ id, formData: this.transformMediaFormData(media) })
        )
      )
    },
    async submitCreateFarm () {
      const isFarmCreated = Boolean(this.createFarmResult.id)
      const hasFarmMedia = this.uploadMediaList.length > 0
      try {
        await this.createFarm(this.farmData)

        const promises = []
        if (hasFarmMedia) {
          promises.push(
            ...this.requestUploadMedia(
              this.createFarmResult.id, this.uploadMediaList.map(media => media.originFileObj)
            )
          )
        }
        await Promise.all(promises)

        this.$notification.success({
          message: 'Success',
          description: 'คุณได้สร้างฟาร์มสำเร็จแล้ว'
        })
        this.backToAccountFarm()
      } catch (error) {
        if (isFarmCreated && hasFarmMedia) {
          this.$notification.warning({
            message: 'Warning',
            description: 'ฟาร์มได้ถูกสร้างแต่ไฟล์รูปมีขนาดใหญ่เกินไป โปรดอัปโหลดรูปใหม่ภายหลัง'
          })
        } else {
          this.$notification.error({
            message: 'Error',
            description: 'ฟาร์มชื่อนี้ถูกใช้แล้ว'
          })
        }
      }
    }
  }
}
</script>
