<template>
  <div class="search-content-container">
    <div class="search-content-section">
      <div class="search-content-label">
        วันที่เปิดประมูล :
      </div>
      <div class="search-content-datepicker">
        <a-date-picker
          placeholder="เลือกวันที่เปิดประมูล"
          size="large"
          :default-value="!!dateTimeStart ? moment(dateTimeStart) : undefined"
          @change="moment => $emit('update:dateTimeStart', moment.format())"
        />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        วันที่ปิดประมูล :
      </div>
      <div class="search-content-datepicker">
        <a-date-picker
          placeholder="เลือกวันที่ปิดประมูล"
          size="large"
          :default-value="!!dateTimeEnd ? moment(dateTimeEnd) : undefined"
          @change="moment => $emit('update:dateTimeEnd', moment.format())"
        />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        ราคาเปิดประมูล :
      </div>
      <div class="search-content-input">
        <a-input
          size="large"
          placeholder="ราคาเปิดประมูล"
          :value="priceStartMin"
          @change="e => $emit('update:priceStartMin', e.target.value)"
        />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">
        ราคาสูงสุด :
      </div>
      <div class="search-content-input">
        <a-input
          size="large"
          placeholder="ราคาสูงสุด"
          :value="priceCurrentMax"
          @change="e => $emit('update:priceCurrentMax', e.target.value)"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuctionSearch',
  props: {
    dateTimeStart: {
      type: String,
      value: ''
    },
    dateTimeEnd: {
      type: String,
      value: ''
    },
    priceStartMin: {
      type: String,
      value: ''
    },
    priceCurrentMax: {
      type: String,
      value: ''
    }
  },
  data () {
    return { moment: require('moment') }
  }
}
</script>

<style lang="scss">
.search-content-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  .search-content-section {
    width: 100%;
    margin-bottom: 10px;
    .search-content-label {
      display: inline-block;
      width: 160px;
      text-align: left;
      margin-right: 10px;
      @media only screen and (min-width: 768px) {
        text-align: right;
      }
    }
    .search-content-datepicker {
      display: inline-block;
      width: 224px;
    }
    .search-content-input {
      display: inline-block;
      width: 224px;
    }
  }
}
</style>
