<template>
  <base-container>
    <a-card class="card">
      <div v-if="isSearch">
        <p>กรองข้อมูล</p>
        <div v-if="searchData.fruitTypeId">
          ชนิด: <span class="cl-primary">{{ mapName(fruitTypeById) }}</span>
        </div>
        <div v-if="searchData.fruitBreedId">
          ชนิดพันธุ์: <span class="cl-primary">{{ mapName(fruitBreedById) }}</span>
        </div>
        <div v-if="searchData.provinceId">
          จังหวัด: <span class="cl-primary">{{ mapLocale(mapName(provinceById)) }}</span>
        </div>
        <div v-if="searchData.farmStandardId">
          มาตรฐาน: <span class="cl-primary">{{ mapName(farmStandardById) }}</span>
        </div>
        <div v-if="searchData.numTree">
          จำนวนต้น (ต้น): <span class="cl-primary">{{ searchData.numTree | numberComma }}</span>
        </div>
        <div v-if="searchData.numArea">
          จำนวนต้น (ไร่): <span class="cl-primary">{{ searchData.numArea | numberComma }}</span>
        </div>
      </div>
      <div class="dp-flex jtf-ct-flex-end">
        <a-button v-if="isSearch" class="oa-button is-primary is-invert mg-r-10px" @click="onEmptySearch">
          ล้างการค้นหา
        </a-button>
        <a-button class="oa-button is-primary" icon="search" @click="onOpenSearch">
          ค้นหาอย่างละเอียด
        </a-button>
      </div>
    </a-card>
    <a-card class="card farm__container mg-t-21px">
      <section class="farm__form">
        <h2 class="farm__title">
          ฟาร์ม
        </h2>
        <a-row :gutter="20" :style="{ minHeight: '384px' }">
          <a-col v-for="farm in farms" :key="farm.id" class="pd-vtc-10px is-wrapped" :md="{ span: 8 }">
            <a-card class="card" hoverable @click="$router.push(`/farm/${farm.id}`)">
              <div
                slot="cover"
                class="pd-all-15px img-wrapper"
                alt="farm-avatar"
                :style="{ backgroundImage: `url('${mapMediaPath(farm.medias)}')`}"
              />
              <div class="f-w-500 cl-primary">
                {{ farm.name }}
              </div>
              <div class="f-w-500 mg-bt-10px">
                {{ `${mapLocale(farm.districts)}, ${mapLocale(farm.province)}` }}
              </div>
              <div class="f-w-500">
                ผลไม้ :
                <span class="f-w-normal">{{ farm.fruitType || '-' }}</span>
              </div>
              <div class="f-w-500">
                สายพันธุ์ :
                <span class="f-w-normal">{{ farm.fruitBreed || '-' }}</span>
              </div>
              <div class="f-w-500">
                พื้นที่ :
                <span class="f-w-normal">{{ farm.numArea | numberComma }} ไร่</span>
              </div>
              <div class="f-w-500">
                จำนวน :
                <span class="f-w-normal">{{ farm.numTree | numberComma }} ต้น</span>
              </div>
            </a-card>
          </a-col>
        </a-row>
      </section>
      <a-pagination
        v-model="currentPage"
        class="mg-t-24px t-al-end"
        :total="farmsPage.numberItems"
        @change="onChangePage"
      />
    </a-card>
    <advance-search
      has-farm
      has-product
      :search-data="searchData"
      :visible="searchVisible"
      :fruit-types="fruitTypes"
      :provinces="provinces"
      :farm-standards="farmStandards"
      @close="onCloseSearch"
      @search="onSearch"
    />
  </base-container>
</template>

<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
import AdvanceSearch from '~/components/advance-search/'

import provinces from '~/configs/address/provinces.json'

const DEFAULT_MEDIA = require('~/assets/images/mango.jpg')

export default {
  name: 'FarmPage',
  layout: 'gray-background',
  middleware: 'authenticated',
  components: {
    AdvanceSearch
  },
  computed: {
    farms: get('auction/farms'),
    farmsPage: get('auction/farmsPage'),
    fruitTypes: get('auction/fruitTypes'),
    farmStandards: get('auction/farmStandards'),
    isSearch () {
      const keys = Object.keys(this.searchData)
      return keys.some(key => !!this.searchData[key])
    },
    fruitTypeById () {
      return this.fruitTypes.find(fruitType => fruitType.id === this.searchData.fruitTypeId)
    },
    fruitBreedById () {
      return this.fruitTypeById
        ? this.fruitTypeById.fruitBreeds.find(fruitBreed => fruitBreed.id === this.searchData.fruitBreedId)
        : {}
    },
    provinceById () {
      return this.provinces.find(province => province.id === this.searchData.provinceId)
    },
    farmStandardById () {
      return this.farmStandards.find(farmStandard => farmStandard.id === this.searchData.farmStandardId)
    }
  },
  data () {
    return {
      searchData: {
        fruitTypeId: undefined,
        fruitBreedId: undefined,
        farmStandardId: undefined,
        provinceId: undefined,
        numArea: undefined,
        numTree: undefined
      },
      searchVisible: false,
      currentPage: +this.$route.query.page || 1,
      provinces
    }
  },
  methods: {
    ...call('auction', [
      'fetchFarms'
    ]),
    ...mapWaitingActions('auction', {
      fetchFarms: 'base loading'
    }),
    mapLocale (data) {
      return (data && data.th) || '-'
    },
    mapMediaPath (medias) {
      return medias.length > 0 ? medias[0].path : DEFAULT_MEDIA
    },
    mapName (value) {
      return value ? value.name : ''
    },
    reduceObjectNumber (obj) {
      return Object.keys(obj).reduce((acc, key) => { return { ...acc, [key]: +obj[key] } }, {})
    },
    onOpenSearch () {
      this.searchVisible = true
    },
    onCloseSearch () {
      this.searchVisible = false
    },
    onSearch (search) {
      this.currentPage = 1
      this.$router.push({ name: 'farm', query: { ...search } })
    },
    onChangePage (page) {
      this.$router.push({ name: 'farm', query: { page } })
    },
    onEmptySearch () {
      this.$router.push({ name: 'farm' })
    },
    initFarm () {
      const reduceObjectNumber = obj => Object.keys(obj).reduce((acc, key) => { return { ...acc, [key]: +obj[key] } }, {})
      this.searchData = this.$route.query
        ? reduceObjectNumber(this.$route.query)
        : undefined
      this.fetchFarms({ ...this.searchData })
    }
  },
  async fetch ({ store, route }) {
    try {
      await Promise.all([
        store.dispatch('auction/fetchFruitTypes'),
        store.dispatch('auction/fetchFarmStandards')
      ])
    } catch (e) {

    }
  },
  created () {
    this.initFarm()
  }
}
</script>

<style lang="less" scoped>
.end-line () {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.farm {
  &__container {
    @media only screen and (min-width: 480px) {
      min-height: 576px;
    }
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 24px;
    padding-bottom: 10px;
    .end-line();
  }
  &__content {
    padding: 0 33px;
  }
}
.img-wrapper {
  height: 180px;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
</style>
