<template>
  <div class="search-content-container">
    <div class="search-content-section">
      <div class="search-content-label">วันที่เปิดประมูล : </div>
      <div class="search-content-datepicker">
        <a-date-picker
          placeholder="เลือกวันที่เปิดประมูล"
          size="large" />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">วันที่ปิดประมูล : </div>
      <div class="search-content-datepicker">
        <a-date-picker
          placeholder="เลือกวันที่ปิดประมูล"
          size="large" />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">ราคาเปิดประมูล : </div>
      <div class="search-content-input">
        <a-input
          size="large"
          placeholder="ราคาเปิดประมูล" />
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">ราคาสูงสุด : </div>
      <div class="search-content-input">
        <a-input
          size="large"
          placeholder="ราคาสูงสุด" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.search-content-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  .search-content-section {
    width: 100%;
    margin-bottom: 10px;
    .search-content-label {
      display: inline-block;
      width: 130px;
      text-align: left;
      margin-right: 10px;
      @media only screen and (min-width: 768px) {
        text-align: right;
      }
    }
    .search-content-datepicker {
      display: inline-block;
      width: 224px;
    }
    .search-content-input {
      display: inline-block;
      width: 224px;
    }
  }
}
</style>
